
#header { height: 64px; background-color: red; }

#map { width: 100%; height: 640px; margin-bottom: 0px;}

.logo { font-weight: bolder;}

#tblFavourites tr:odd { background-color: #D9F0FF;}

.glyphicon {font-size: 2.2em;}

table .glyphicon { font-size: 1.5em;}